h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1383px) {
  .container {
    max-width: 1383px;
  }
}
body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 14px;
}

.card {
  padding-top: 45px;
  padding-bottom: 45px;
}
.card__item {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.11);
          box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.11);
  margin: 0 auto;
  margin-bottom: 75px;
  width: 290px;
}
.card__item:nth-child(n+3) {
  display: none;
}
.card__icon-wrap {
  padding-top: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.card__icon {
  width: 31px;
  height: 33px;
}
.card__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  color: #000;
  padding-top: 19px;
  text-align: center;
}
.card__text {
  font-weight: 300;
  font-size: 15px;
  line-height: 147%;
  color: #7e7d7d;
  padding-top: 60px;
  padding-bottom: 75px;
  text-align: center;
  max-width: 280px;
  margin: 0 auto;
}
.card__link {
  color: #1575bb;
}
.card__btn-wrap {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.card__btn {
  background-color: transparent;
  font-weight: 400;
  font-size: 15px;
  line-height: 147%;
  color: #1575bb;
  padding: 14px 35px;
  border-radius: 6px;
  border: 1px solid #1575bb;
}

@media screen and (min-width: 480px) {
  .card {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .card__item {
    width: 334px;
    height: 335px;
  }
  .card__text {
    max-width: 291px;
  }
}
@media screen and (min-width: 768px) {
  .card {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .card__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card__item:nth-child(n+3) {
    display: block;
  }
  .card__text {
    max-width: 280px;
  }
  .card__btn-wrap {
    display: none;
  }
}
@media screen and (min-width: 1383px) {
  .card {
    padding-top: 147px;
    padding-bottom: 147px;
  }
  .card__list {
    padding: 0 129px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .card__text {
    max-width: 276px;
  }
}/*# sourceMappingURL=main.css.map */