html {
    scroll-behavior: smooth;
}
*,
::after,
::before {
    box-sizing: border-box;
}

a {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container  {
    max-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

@media screen and (min-width: 480px) {
    .container {
        max-width: 480px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
    }
    
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}