$firstlyTextColor: #000;
$secondaryTextColor: #8491a3;
$describtionTextColor: #7e7d7d;
$mainBgColor: #ffffff;
$secondaryBgColor: #faf6f3;
$footerBgColor: #092348;
$hoverColor: #1575bb;
$linkColor: #251B00;
$borderColor: #958f8b;
$textColor: #605f5f;
